body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    background-color: gray;
    width: 960px;
    margin: 0 auto;
  }
  
  header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background:lightgray;
  }
  
  
  
  nav {
    padding: 20px;
    text-align: center;
   clear: both;
    color: #fff;
    background:lightgray;

  }

section {
  
  background:lightgray;
  color: #333;
  float: left;
  padding-top: 50px;
  padding-bottom: 200px;
  width:495px;
  height: 70px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;


}
article{
  float: left;
  margin-top: 25px;
  background-color:gray;
  width: 240px;
}
aside {
  float:right;
  background:lightgray;
  color: #333;
  width: 465px;
  height: 320px;
  text-align: center;
  margin-top:1%;




}

 

footer{
  clear: both;
  float: bottom;
  background-color:lightgray;
  text-align: center;
  padding:20px;

}







  